<div *ngIf="Products; else loadingBlock" class="container-fluid p-5">
  <div class="row">
    <div class="col-md-3 d-none d-md-block">
      <div class="col-12">
        <select
          [(ngModel)]="orderBy"
          (ngModelChange)="onOrderByChange(orderBy)"
          class="form-control mb-3"
          id="fm"
        >
          <option value="">Order By</option>
          <option value="{{ orderByString.PriceDesc }}">
            Price: High to Low
          </option>
          <option value="{{ orderByString.PriceAsc }}">
            Price: Low to High
          </option>
          <option value="{{ orderByString.RateDesc }}">
            Rating: High to Low
          </option>
          <option value="{{ orderByString.RateAsc }}">
            Rating: Low to High
          </option>
        </select>
      </div>
      <div class="col-12">
        <app-categories-filter></app-categories-filter>
      </div>
      <div class="col-12 mt-3">
        <button class="btn btn-secondary mb-3" (click)="resetFilters()">
          Reset Filters
        </button>
      </div>
    </div>
    <div class="col-12 col-md-9">
      <div class="container-fluid">
        <div class="row">
          <app-product-card
            [product]="Product"
            *ngFor="
              let Product of Products
                | paginate
                  : {
                      itemsPerPage: limit,
                      currentPage: pagination,
                      totalItems: TotalProducts
                    }
            "
            class="col-12 col-lg-4 col-xl-3"
          ></app-product-card>
        </div>
      </div>

      <div class="row">
        <div class="d-flex justify-content-center my-4">
          <app-pagination
            [currentPage]="pagination"
            [totalPages]="Math.ceil(TotalProducts / limit)"
            (pageChanged)="renderPage($event)"
          >
          </app-pagination>
        </div>
      </div>

      <!--      <div class="d-flex justify-content-center">-->
      <!--        <pagination-controls-->
      <!--          (pageChange)="renderPage($event)"-->
      <!--        ></pagination-controls>-->
      <!--      </div>-->
    </div>
  </div>
</div>

<ng-template #loadingBlock>
  <app-loading></app-loading>
</ng-template>
