<div class="container-fluid p-5">
  <div class="row">
    <div class="col-md-2 d-none d-md-block">
      <app-products-filters></app-products-filters>
    </div>
    <div class="col-12 col-md-10">
      <div class="container-fluid">
        <div class="row">
          <app-product-card
            [Product]="Product"
            *ngFor="
              let Product of Products
                | paginate
                  : {
                      itemsPerPage: limit,
                      currentPage: pagination,
                      totalItems: allStudents
                    }
            "
            class="col-6 col-lg-4 col-xl-3"
          ></app-product-card>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <pagination-controls
          (pageChange)="renderPage($event)"
        ></pagination-controls>
      </div>
      <!-- <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a
              class="page-link"
              routerLink="/products"
              [queryParams]="{ page: 0 }"
              >1</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link"
              routerLink="/products"
              [queryParams]="{ page: 1 }"
              >2</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link"
              routerLink="/products"
              [queryParams]="{ page: 2 }"
              >3</a
            >
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>
</div>
