<div class="row m-0">
  <div class="d-sm-none d-md-block col-md-4 col-lg-3 justify-content-start rounded-right bg-gradient" id="usersArea">
    <div class="row mt-4 mx-auto col-12">
      <app-chat-user *ngFor="let user of users; let i=index;trackBy: trackChats " [chat]="user" (chatClicked)="chatChangedEvent($event)"></app-chat-user>
    </div>
  </div>

  <div *ngIf="currentUser != ''" class="col-md-8 col-lg-9 p-3" id="chatArea">

    <div class="row d-flex flex-row bg-secondary border rounded-5" id="messagesArea" #messagesDiv>
      <div   *ngFor="let message of messages; let i=index">
        <app-date *ngIf="checkNewDate(i)" [date]="message.messageDate" class="justify-content-center"></app-date>
        <app-message [ngClass]="['d-flex', message.senderId != currentUser? 'justify-content-end' : '']"
                     [message]="message.message"
                     [messageDate]="message.messageDate"
                     [seenStatus]="message.messageStatus"
                     [isOut]="message.senderId != currentUser"></app-message>
      </div>
    </div>

    <div class="row px-4 pt-3">
      <div class="col-11">
        <input #msg type="text" class="form-control" placeholder="Enter your message here...">
      </div>
      <button type="button" class="btn btn-success col-1" (click)="sendMessage(msg)">Send</button>
    </div>

  </div>
</div>

