#messagesArea{
  height: 78vh;
}

#usersArea{
  height: 80vh;
}

#messagesArea, #usersArea{
  overflow: scroll;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

#messagesArea::-webkit-scrollbar, #usersArea::-webkit-scrollbar {
  display: none;
}

.profile-img{
  width: 2em;
  height: 2em;
}
