<div *ngIf="cartList; else loadingBlock" class="p-3 mt-3 container">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="row">
        <div class="col-12 col-lg-6" *ngFor="let cartItem of cartList">
          <app-cart-item-card
            (itemDeleted)="deleteItemHandler($event)"
            [cartItem]="cartItem"
          ></app-cart-item-card>
        </div>
      </div>
    </div>
    <div id="orderSummary" class="p-0 col-12 col-md-3 border mb-3">
      <div class="container d-flex flex-column px-0">
        <p class="fs-3 fw-normal text-center p-3 px-0 text-white text-bg-warning">Order Summary</p>
        <p class="fs-5 lead ps-3">Items count: {{ itemsCount }}</p>
        <p class="fs-5 lead ps-3">Number of days: {{ numberOfDays }}</p>
        <p class="fs-5 lead ps-3">Price per day: {{ pricePerDay }} EGP</p>
        <hr />
<!--        style="color: #339"-->
        <p class="fs-5 fw-semibold px-3 pt-1" >
          Total Bill: {{ totalBill }} EGP
        </p>
        <button
          *ngIf="totalBill"
          class="btn btn-primary m-3"
          routerLink="/checkout/"
          [queryParams]="{ totalBill: totalBill }"
        >
          Proceed to Checkout
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingBlock>
  <app-loading></app-loading>
</ng-template>
