<div class="d-flex flex-column" style="max-width: 75%">
  <div class="d-flex">

    <div *ngIf="isOut" class="m-auto">
      <button (click)="delete(messageId)" class="btn btn-sm mx-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#dc3545" class="bi bi-trash3-fill" viewBox="0 0 16 16">
          <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
        </svg>
      </button>
    </div>

<!--    (dblclick)="report(messageId)"-->
    <div [ngClass]="[ isOut? 'sender':'receiver' ]"
         class="d-inline-block d-flex flex-row mx-0 my-2 px-3 pt-1 message-container">
      <div class="d-flex flex-column w-100 text-break">
        <p class="m-0 msg text-white">{{ message }}</p>
        <div class="m-0 pb-1 d-flex justify-content-end align-items-center">
          <p
            [ngClass]="['m-0 time text-white', isOut? 'px-2' : 'px-0']">{{ DateHelper.getDate(messageDate) | date: 'h:mm a' }}</p>
          <i *ngIf="isOut && seenStatus == 2" class="fas fa-check-double" style="color: #80f0ff;"></i>
          <i *ngIf="isOut && seenStatus == 1" class="fas fa-check-double" style="color: #a3a3a3;"></i>
          <i *ngIf="isOut && seenStatus == 0" class="fas fa-check" style="color: #a3a3a3;"></i>
        </div>
      </div>
    </div>

    <div *ngIf="!isOut" class="m-auto">
      <button (click)="report(messageId)" class="btn btn-sm mx-2" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#dc3545" class="bi bi-flag-fill" viewBox="0 0 16 16">
          <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
        </svg>
      </button>
    </div>

  </div>
</div>
