<div [ngClass]="['d-flex flex-row bg-danger rounded-pill my-2 message justify-content-end']">
  <div class="d-flex flex-column">
    <p class="m-0 msg">{{ message }}</p>
    <div class="m-0 d-flex flex-row justify-content-end">
      <p class="m-0 px-2 pb-1  time">{{ messageDate | date: 'h:mm a' }}</p>
      <i *ngIf="seenStatus == 2" class="fas fa-check-double" style="color: #80f0ff;"></i>
      <i *ngIf="seenStatus == 1" class="fas fa-check-double" style="color: #a3a3a3;"></i>
      <i *ngIf="seenStatus == 0" class="fas fa-check" style="color: #a3a3a3;"></i>
    </div>
  </div>
</div>
<!--
I want to align this shit to the right when I am the sender

Like
Abdallah:________
                       _________:ME
-->
