<div id="footerSection" class="bg-white p-3 shadow border-top">
  <footer class="container p-3">
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <h5 class="fs-5">Contact Us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <p class="nav-link p-0 text-muted">
              <i class="fa-sharp fa-solid fa-location-dot"></i> 28 Km by Cairo /
              Alexandria Desert Road, 6 October, B148, Egypt
            </p>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link p-0 text-muted"
              ><i class="fa-solid fa-phone"></i> 01289594184</a
            >
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link p-0 text-muted"
              ><i class="fa-solid fa-clock"></i> Sat-Thu 09:00AM : 09:00PM</a
            >
          </li>

          <li class="nav-item mb-2">
            <a class="nav-link p-0 text-muted"
              ><i class="fa-solid fa-envelope"></i> info@medicarental.com</a
            >
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mb-3">
        <h5 class="fs-5">MedicaRental</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a routerLink="/about" class="nav-link p-0 text-muted">About</a>
          </li>
          <li class="nav-item mb-2">
            <a routerLink="/" class="nav-link p-0 text-muted">FAQs</a>
          </li>

          <li class="nav-item mb-2">
            <a routerLink="/" class="nav-link p-0 text-muted">Terms</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mb-3">
        <h5 class="fs-5">Sections</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a routerLink="/" class="nav-link p-0 text-muted">Home</a>
          </li>
          <li class="nav-item mb-2">
            <a routerLink="/products" class="nav-link p-0 text-muted"
              >Products</a
            >
          </li>
          <li class="nav-item mb-2">
            <a routerLink="/chat" class="nav-link p-0 text-muted">Chat</a>
          </li>
        </ul>
      </div>
    </div>

    <div
      class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
    >
      <p>© 2023 MedicaRental, Inc. All rights reserved.</p>
    </div>
  </footer>
</div>
