/* nav{
    height: 8vh;
  margin-left: 0;
  margin-right: 0;
} */

a {
  font-size: 14px;
  font-weight: 700;
}
.superNav {
  font-size: 13px;
}
.form-control {
  outline: none !important;
  box-shadow: none !important;
}

#logoutIcon {
  color: red;
}
#logoutIcon:hover {
  color: white;
}
@media screen and (max-width: 540px) {
  .centerOnMobile {
    text-align: center;
  }
}
