<nav
  class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/"
      ><i class="fa-solid fa-tooth me-2"></i> <strong>MedicaRental</strong></a
    >
    <button class="navbar-toggler" type="button" (click)="toggleCollapse()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
      <div class="input-group">
        <span class="border-warning input-group-text bg-warning text-white"
          ><i class="fa-solid fa-magnifying-glass"></i
        ></span>
        <input
          type="text"
          class="form-control border-warning"
          style="color: #7a7a7a"
          [(ngModel)]="searchText"
        />
        <button (click)="searchProduct()" class="btn btn-warning text-white">
          Search
        </button>
      </div>
    </div>
    <div
      [classList]="
        isCollapsed
          ? 'collapse navbar-collapse show'
          : ' collapse navbar-collapse '
      "
      id="navbarNavDropdown"
    >
      <div class="ms-auto d-none d-lg-block">
        <div class="input-group">
          <span class="border-warning input-group-text bg-warning text-white"
            ><i class="fa-solid fa-magnifying-glass"></i
          ></span>
          <input
            type="text"
            class="form-control border-warning"
            style="color: #7a7a7a"
            [(ngModel)]="searchText"
          />
          <button (click)="searchProduct()" class="btn btn-warning text-white">
            Search
          </button>
        </div>
      </div>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link mx-2 text-uppercase"
            aria-current="page"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            routerLink="/"
            >Home</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            routerLink="/products"
            >Products</a
          >
        </li>
        <li *ngIf="isAuthenticated && userRole == 'Client'" class="nav-item">
          <a
            class="nav-link mx-2 text-uppercase"
            routerLinkActive="active"
            routerLink="/chat"
            >Chat</a
          >
        </li>
        <li *ngIf="isAuthenticated && userRole != 'Client'" class="nav-item">
          <a
            class="nav-link mx-2 text-uppercase"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            routerLink="/admin"
            >Admin Panel</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link mx-2 text-uppercase"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            routerLink="/about"
            >About</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li *ngIf="!isAuthenticated" class="nav-item">
          <a
            class="nav-link mx-2 text-uppercase"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            routerLink="/login"
            ><i class="fa-solid fa-sign-in me-1"></i>login</a
          >
        </li>
        <li *ngIf="!isAuthenticated" class="nav-item">
          <a
            class="nav-link mx-2 text-uppercase"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            routerLink="/registration"
            ><i class="fa-solid fa-user-plus me-1"></i> Register</a
          >
        </li>
        <li *ngIf="isAuthenticated && userRole == 'Client'" class="nav-item">
          <a
            class="nav-link mx-2 text-uppercase"
            routerLink="cart"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            ><i class="fa-solid fa-cart-shopping me-1"></i> Cart</a
          >
        </li>
        <app-notification
          *ngIf="isAuthenticated && userRole == 'Client'"
        ></app-notification>
        <li *ngIf="isAuthenticated && userRole == 'Client'" class="nav-item">
          <a
            class="nav-link mx-2 text-uppercase"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            routerLink="/user/myaccount"
            ><i class="fa-solid fa-circle-user me-1"></i> Account</a
          >
        </li>
        <li *ngIf="isAuthenticated" class="nav-item">
          <button
            id="logoutIcon"
            class="nav-link btn btn-outline-danger px-5 px-lg-2"
            (click)="LogOut()"
          >
            <i class="fa-solid fa-right-from-bracket"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
