.nav-pills .nav-link.active {
  background-color: #007bff;
  color: #fff;
}

.nav-pills .nav-link {
  font-size: 1.2rem;
}

.nav-link:hover {
  cursor: pointer;
}

#user-nav{
  position: sticky;
  top: 1.2rem;
}
