<div class="d-flex align-items-center justify-content-center">
  <div class="btn-group col-sm-9 col-md-11">
    <button (click)="notifyChange('profile')"
            [ngClass]="selected == 'profile'? 'btn btn-dark active' : 'btn btn-outline-dark'" type="button">
      Profile
    </button>
    <button (click)="notifyChange('listed')"
            [ngClass]="selected == 'listed'? 'btn btn-dark active' : 'btn btn-outline-dark'" type="button">Listed
    </button>
    <button (click)="notifyChange('unlisted')"
            [ngClass]="selected == 'unlisted'? 'btn btn-dark active' : 'btn btn-outline-dark'" type="button">
      Un-Listed
    </button>
    <button (click)="notifyChange('rented')"
            [ngClass]="selected == 'rented'? 'btn btn-dark active' : 'btn btn-outline-dark'" type="button">Rented
    </button>
    <button (click)="notifyChange('onRent')"
            [ngClass]="selected == 'onRent'? 'btn btn-dark active' : 'btn btn-outline-dark'" type="button">On-Rent
    </button>
    <button (click)="notifyChange('rentedHist')"
            [ngClass]="selected == 'rentedHist'? 'btn btn-dark active' : 'btn btn-outline-dark'" type="button">
      Rented Hist
    </button>
    <button (click)="notifyChange('onRentHist')"
            [ngClass]="selected == 'onRentHist'? 'btn btn-dark active' : 'btn btn-outline-dark'" type="button">
      On-Rent Hist
    </button>
  </div>
</div>
