<section class="pt-5 pb-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-1 text-right">
        <a class="me-2" role="button" (click)="moveLeft()">
          <i class="fa fa-arrow-left fs-3"></i>
        </a>
      </div>
      <div
        style="overflow: hidden"
        id="cardRow{{ randomId }}"
        class="col-10 row flex-nowrap"
      >
        <div
          *ngFor="let product of Products"
          id="productCard{{ randomId }}"
          class="col-12 col-lg-4 col-xl-3"
        >
          <app-product-card [product]="product"></app-product-card>
        </div>
      </div>
      <div class="col-1 text-right">
        <a class="me-2" role="button" (click)="moveRight()">
          <i class="fa fa-arrow-right fs-3"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<script></script>
