<div
  *ngIf="product"
  class="container border p-3 mb-3"
  style="display: grid; grid-template-rows: auto 1fr auto"
>
  <div class="ProductImageContainer mb-2">
    <a routerLink="/products/{{ product.id }}"
      ><img src="data:image/png;base64,{{ product.image }}" class="img-fluid"
    /></a>
  </div>
  <div class="ProductName lead">
    <a class="link-secondary" routerLink="/products/{{ product.id }}">{{
      product.name
    }}</a>
  </div>
  <div class="container-fluid">
    <div class="row"></div>
    <div class="col-xs-12 ProductPrice">{{ product.price }} EGP</div>
    <div class="col-xs-12">
      <span
        *ngFor="let star of [1, 2, 3, 4, 5]"
        class="bi bi-star-fill"
        [class.text-warning]="star <= product.rating"
      >
      </span>
    </div>
  </div>
</div>
