<div *ngIf="currentUser != ''" class="container d-flex flex-column h-100">
  <div class=" bg-light border rounded-5 overflow-auto p-3" id="messagesArea" #messagesDiv>
    <div *ngFor="let message of messages; let i=index">
      <app-date *ngIf="checkNewDate(i)" [date]="message.messageDate" class="justify-content-center"></app-date>
      <app-message [ngClass]="['d-flex', message.senderId != currentUser? 'justify-content-end' : '']"
                   [message]="message.message"
                   [messageDate]="message.messageDate"
                   [seenStatus]="message.messageStatus"
                   [isOut]="message.senderId != currentUser"
                   [messageId]="message.id"
                   (deleteMessageEvent)="deleteMessage($event)"
                   (reportMessageEvent)="reportMessage($event)"></app-message>
    </div>
  </div>

  <div class="mt-3">
    <div class="input-group">
      <input #messageElem type="text" class="form-control border-success," placeholder="Enter your message here...">
      <button class="btn btn-lg btn-outline-success" type="button" (click)="sendMessage(messageElem)">
        <i class="bi bi-send-fill"></i>
      </button>
    </div>
  </div>
</div>

<app-report-modal [contentA]="reportContentA" [contentB]="reportContentB"
                  [successMessage]="'Message reported successfully.'"
                  [failureMessage]="'Message couldn\'t be reported.'"
                  [submitted]="submitted"
                  [success]="success"
                  (cancelReportEvent)="cancelReport()"
                  (submitReportEvent)="confirmedReportMessage($event)"></app-report-modal>

<app-delete-confirmation-modal [type]="'message'"
                               [failureMessage]="'Message couldn\'t be deleted'"
                               [successMessage]="'Message deleted successfully.'"
                               (cancelDeleteEvent)="cancelDelete()"
                               (confirmDeleteEvent)="confirmedDeleteMessage()"
                               [deleteContent]="deleteContent"></app-delete-confirmation-modal>
