#messagesArea, #usersArea {

  overflow: scroll;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

#messagesArea::-webkit-scrollbar, #usersArea::-webkit-scrollbar {
  display: none;
}

#messagesArea {
  /*height: 78vh;*/
}

input[type="text"]:focus {
  border-color: rgba(25, 135, 84, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
