

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="btn-group mt-3 d-flex justify-content-center" role="group">
        <a class="btn btn-outline-dark" [routerLinkActiveOptions]="{ exact:true}" routerLinkActive="active" routerLink="/admin/rentoperations">Rent Operation</a>
        <a class="btn btn-outline-dark" [routerLinkActiveOptions]="{ exact:true}" routerLinkActive="active" routerLink="/admin/returntoday">Return Today</a>
        <a class="btn btn-outline-dark" [routerLinkActiveOptions]="{ exact:true}" routerLinkActive="active" routerLink="/admin/pastdue">Past Due</a>
      </div>


      <h2> Past ----  Today </h2>


    </div>
  </div>
</div>
