<div
  id="carouselExampleDark"
  class="carousel carousel-dark slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <div class="h-100 bg-light">
        <div class="container h-100 d-flex flex-column justify-content-center">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
              <h1 class="fs-3 fs-lg-1 lead display-3">Who Are We?</h1>
              <p class="fs-6 fs-lg-3 lh-base lead text-muted mb-0">
                We are a team of dentists who aim to allow the rental of tools
                and equipment for dental clinics
              </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
              <img src="assets/icons/f.png" alt="" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <div class="h-100 bg-light">
        <div class="container h-100 d-flex flex-column justify-content-center">
          <div class="row align-items-center">
            <div class="col-lg-6 d-none d-lg-block">
              <img
                src="assets/icons/trust.png"
                style="height: 80%"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="col-lg-6">
              <h2 class="fs-3 fs-lg-1 lead display-3">Reliability</h2>
              <p class="fs-6 fs-lg-3 lh-base lead text-muted mb-0">
                You are the tenant and the lessor at the same time. We aim to be
                the link between all doctors and clinics and we seek to be a
                trust between the doctors.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="h-100 bg-light">
        <div class="container h-100 d-flex flex-column justify-content-center">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <h2 class="fs-3 fs-lg-1 lead display-3">Your tools are safe</h2>
              <p class="fs-6 fs-lg-3 lh-base lead text-muted mb-0">
                Share them with us and share with us.
              </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
              <img src="assets/icons/f2.png" alt="" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleDark"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleDark"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
