<div *ngIf="report; else loadingBlock" class="container mt-5">
  <h1 class="text-center">Detailed Report</h1>
  <hr />

  <div class="row">
    <div class="col-md-6">
      <h4>Report Details</h4>
      <ul class="list-group">
        <li class="list-group-item"><strong>ID:</strong> {{ report.id }}</li>
        <li class="list-group-item">
          <strong>Name:</strong> {{ report.name }}
        </li>
        <li class="list-group-item">
          <strong>Statement:</strong> {{ report.statement }}
        </li>
        <li class="list-group-item">
          <strong>Is Solved: </strong>
          <span
            *ngIf="report.isSolved"
            class="badge rounded-pill text-bg-success"
            >Solved</span
          >
          <span
            *ngIf="!report.isSolved"
            class="badge rounded-pill text-bg-danger"
            >Not Solved</span
          >
        </li>
        <li class="list-group-item">
          <strong>Created Date:</strong> {{ report.createdDate | date }}
        </li>
        <li class="list-group-item">
          <strong>Solve Date:</strong>
          {{ report.solveDate ? (report.solveDate | date) : "N/A" }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h4>Reported By</h4>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>ID:</strong> {{ report.reporterId }}
        </li>
        <li class="list-group-item">
          <strong>Name:</strong> {{ report.reporterName }}
        </li>
      </ul>

      <h4 class="mt-4">Reported To</h4>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Name:</strong> {{ report.reportedName }}
        </li>
        <li class="list-group-item">
          <strong>Status: </strong>
          <span
            *ngIf="!report.isReportedUserBlocked"
            class="badge rounded-pill text-bg-success"
            >Open</span
          >
          <span
            *ngIf="report.isReportedUserBlocked"
            class="badge rounded-pill text-bg-danger"
            >Blocked</span
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <h4>Content Details</h4>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Content ID:</strong> {{ report.contentId }}
        </li>
        <li class="list-group-item">
          <strong>Content: </strong>
          <a
            routerLink="/products/{{ report.contentId }}"
            *ngIf="report.reportCategory == ReportListNames.Items"
            >{{ report.content }}</a
          >
          <span *ngIf="report.reportCategory != ReportListNames.Items">{{
            report.content
          }}</span>
        </li>
        <li class="list-group-item">
          <strong>Content Timestamp:</strong>
          {{ report.contentTimeStamp | date }}
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <h4>Actions Taken</h4>
      <ul class="list-group">
        <li
          *ngFor="let reportAction of report.reportActions"
          class="list-group-item"
        >
          <strong>Action:</strong> {{ reportAction.action }}
          <strong>By:</strong> {{ reportAction.takenBy }} <strong>At:</strong>
          {{ reportAction.createDate | date : "medium" }}
        </li>
      </ul>
    </div>
  </div>

  <div
    *ngIf="!report.isSolved; else reOpenBlock"
    class="d-flex justify-content-center align-items-center row mt-4 mb-4"
  >
    <div class="d-flex justify-content-center align-items-center gap-2">
      <button
        *ngIf="!report.isReportedUserBlocked"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#blockUserModal"
        class="btn btn-danger"
      >
        Block User
      </button>
      <button
        type="button"
        (click)="DeletedReportedItem()"
        class="btn btn-warning"
      >
        Delete {{ report.reportCategory }}
      </button>
      <button type="button" (click)="MarkAsSolved()" class="btn btn-success">
        Mark as Solved
      </button>
    </div>
  </div>

  <ng-template #reOpenBlock>
    <div class="d-flex justify-content-center align-items-center row mt-4 mb-4">
      <div class="d-flex justify-content-center align-items-center gap-2">
        <button type="button" (click)="MarkAsSolved()" class="btn btn-primary">
          Re-Open Report
        </button>
      </div>
    </div>
  </ng-template>
</div>

<!-- Block User Modal -->
<div
  class="modal fade"
  id="blockUserModal"
  tabindex="-1"
  aria-labelledby="blockUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="blockUserModalLabel">Block User</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure that you want to block user {{ report?.reportedName }}
        </p>
        <div class="mb-3">
          <label for="" class="form-label">Select End Date</label>
          <input
            class="form-control"
            type="date"
            id="blockEndTime"
            name="blockEndTime"
            [ngModel]="endTime | date : 'yyyy-MM-dd'"
            (ngModelChange)="endTime = $event"
          />
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
            (click)="BlockReported()"
          >
            Block User
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loadingBlock>
    <app-loading></app-loading>
  </ng-template>
</div>
