
<div  *ngIf="info && extraInfo else loadingBlock" class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          Approval Details for ID {{ info.id }}
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <tbody>
              <tr *ngIf="isApproved">
                <td colspan="2">
                  <div class="alert alert-success" role="alert">
                    User has been approved!
                  </div>
                </td>
              </tr>
              <tr>
                <td><strong>National ID:</strong></td>
                <td>{{ info.nationalId }}</td>
              </tr>
              <tr>
                <td><strong>Name:</strong></td>
                <td>{{ extraInfo.name }}</td>
              </tr>
              <tr>
                <td><strong>Phone Number:</strong></td>
                <td>{{ extraInfo.phoneNumber }}</td>
              </tr>
              <tr>
                <td><strong>Address:</strong></td>
                <td>{{ extraInfo.address }}</td>
              </tr>
              <tr>
                <td><strong>Email:</strong></td>
                <td>{{ extraInfo.email }}</td>
              </tr>
              <tr>
                <td><strong>Images:</strong></td>
                <td>
                  <div class="row">
                    <div class="col-md-6">
                      <img [src]="nationalImage" alt="National ID image" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                      <img [src]="unionImage" alt="Union image" class="img-fluid">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>


                <td>

                  <div class="row" *ngIf="!isApproved">
                    <div class="col-md-6 text-center">
                      <button  type="button"  (click)="onApproveClick(extraInfo.email)" class="btn btn-success btn-block">Approve</button>
                    </div>
                    <div class="col-md-6 text-center">
                      <button type="button" class="btn btn-danger btn-block">Reject</button>
                    </div>
                  </div>

                  <div class="row" *ngIf="isApproved">
                    <div class="col-md-12 text-center">
                      <button type="button" class="btn btn-primary btn-block" routerLink="/admin/pendingapprovals">
                        Back to Main Menu
                      </button>
                    </div>
                  </div>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingBlock>
  <app-loading></app-loading>
</ng-template>



