<div class="w-100 mt-5">
  <div class="container-lg">
    <div class="row">
      <div class="col-sm-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div *ngFor="let review of reviews" class="row">
                <div class="col-sm-12">
                  <div class="testimonial-wrapper">
                    <div class="testimonial mt-2">
                      {{ review.clientReview }}
                      <a (click)="GetRevId(review.id)">
                        <button
                          *ngIf="isAuthenticated"
                          (click)="report()"
                          class="btn btn-sm mx-2 float-end"
                          fdprocessedid="dqlfd8"
                        >
                          <svg
                            _ngcontent-hmg-c32=""
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="#dc3545"
                            viewBox="0 0 16 16"
                            class="bi bi-flag-fill"
                          >
                            <path
                              _ngcontent-hmg-c32=""
                              d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001"
                            ></path>
                          </svg>
                        </button>
                      </a>
                    </div>
                    <app-report-modal-v2
                      [contentA]="reportContentA"
                      [contentB]="reportContentB"
                      [successMessage]="'Review reported successfully.'"
                      [failureMessage]="'Review couldn\'t be reported.'"
                      [submitted]="submitted"
                      [success]="success"
                      (cancelReportEvent)="cancelReport()"
                      (submitReportEvent)="confirmedReportMessage($event)"
                    ></app-report-modal-v2>
                    <div class="media">
                      <div class="media-body">
                        <div class="overview">
                          <div class="name mb-2">
                            <b>{{ review.clientName }}</b>
                          </div>
                          <div class="star-rating">
                            <ul class="list-inline">
                              <li
                                *ngFor="let star of counter(review.rating)"
                                class="list-inline-item"
                              >
                                <i class="fa fa-star"></i>
                              </li>
                              <li
                                *ngFor="let star of counter(5 - review.rating)"
                                class="list-inline-item"
                              >
                                <i class="far fa-star"></i>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div></div>
                <hr style="width: 100%" />
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingBlock>
  <app-loading></app-loading>
</ng-template>
