<div class="w-50 mt-5">
  <div class="container-lg">
    <div class="row">
      <div class="col-sm-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div *ngFor="let review of reviews" class="row">
                <div class="col-sm-12">
                  <div class="testimonial-wrapper">
                    <div class="testimonial mt-2">
                      {{ review.clientReview }}
                    </div>
                    <div class="media">
                      <div class="media-body">
                        <div class="overview">
                          <div class="name mb-2">
                            <b>{{ review.clientName }}</b>
                          </div>
                          <div class="star-rating">
                            <ul class="list-inline">
                              <li
                                *ngFor="let star of counter(review.rating)"
                                class="list-inline-item"
                              >
                                <i class="fa fa-star"></i>
                              </li>
                              <li
                                *ngFor="let star of counter(5 - review.rating)"
                                class="list-inline-item"
                              >
                                <i class="far fa-star"></i>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div></div>
                <hr style="width: 100%" />
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingBlock>
  <app-loading></app-loading>
</ng-template>
