<div
    class="m-auto text-center d-flex align-items-center justify-content-center"
    style="height: 500px"
  >
    <div class="spinner-grow" style="color: rgb(255, 255, 255)" role="status">
      <!-- <span class="visually-hidden">Loading...</span> -->
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow" style="color: rgb(255, 255, 255)" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow" style="color: rgb(255, 255, 255)" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow" style="color: rgb(255, 255, 255)" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow" style="color: rgb(255, 255, 255)" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
