<p>roles-manager works!</p>

<div class="container">
  <h1>User List</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Fullname</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of AdminModData">
        <td>{{ user.id }}</td>
        <td>{{ user.fullName }}</td>
        <td>{{ user.email }}</td>

        <td>
          <span *ngIf="user.role === 'Admin' || user.role === 'Moderator'">
            {{ user.role }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>


































<section class="mt-4">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="pb-3">
          <!-- First Name input -->
          <div class="form-outline mb-4">
            <input
              type="text"
              formControlName="FName"
              class="form-control form-control-lg"
              placeholder="First Name"
              />
            <div
              *ngIf="
              registerForm.get('FName')?.hasError('required') &&
              IsSubmitButtonClicked
              "
              class="text-danger">
              First name is required!
            </div>
            <div
              *ngIf="
              registerForm.get('FName')?.hasError('minlength') &&
              registerForm.get('FName')?.touched
              "
              class="text-danger">
              Name cannot be less that three characters!
            </div>
            <div
              *ngIf="
              registerForm.get('FName')?.hasError('pattern') &&
              registerForm.get('FName')?.touched
              "
              class="text-danger">
              Please enter a valid name!
            </div>
          </div>

          <!-- Last Name input -->
          <div class="form-outline mb-4">
            <input
              type="text"
              formControlName="LName"
              class="form-control form-control-lg"
              placeholder="Last Name"
              />
            <div
              *ngIf="
              registerForm.get('LName')?.hasError('required') &&
              IsSubmitButtonClicked
              "
              class="text-danger">
              Last name is required!
            </div>
            <div
              *ngIf="
              registerForm.get('LName')?.hasError('minlength') &&
              registerForm.get('LName')?.touched
              "
              class="text-danger">
              Name cannot be less that three characters!
            </div>
            <div
              *ngIf="
              registerForm.get('LName')?.hasError('pattern') &&
              registerForm.get('LName')?.touched
              "
              class="text-danger">
              Please enter a valid name!
            </div>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="email"
              formControlName="email"
              class="form-control form-control-lg"
              placeholder="Email"
              />
            <div
              *ngIf="
              registerForm.get('email')?.hasError('required') &&
              IsSubmitButtonClicked
              "
              class="text-danger">
              Email is required!
            </div>
            <div
              *ngIf="
              registerForm.get('email')?.hasError('pattern') &&
              registerForm.get('email')?.touched
              "
              class="text-danger">
              Please enter a valid email!
            </div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              type="password"
              formControlName="password"
              class="form-control form-control-lg"
              placeholder="Password"
              />
            <div
              *ngIf="
              registerForm.get('password')?.hasError('required') &&
              IsSubmitButtonClicked
              "
              class="text-danger">
              Password is required!
            </div>
          </div>

          <!-- Phone Number input -->
          <div class="form-outline mb-4">
            <input
              type="text"
              formControlName="phoneNumber"
              class="form-control form-control-lg"
              placeholder="Phone Number"
              />
            <div
              *ngIf="
              registerForm.get('phoneNumber')?.hasError('required') &&
              IsSubmitButtonClicked
              "
              class="text-danger">
              Phone Number is required!
            </div>
            <div
              *ngIf="
              registerForm.get('phoneNumber')?.hasError('pattern') &&
              registerForm.get('phoneNumber')?.touched
              "
              class="text-danger">
              Please enter a valid Phone Number!
            </div>
          </div>


          <!-- Choose Role -->
          <div class="form-outline mb-4">
            <label for="role">Choose Role:</label>
            <select formControlName="role" class="form-select" >
              <option value="" disabled>-- Select Role --</option>
              <option value="0">Admin</option>
              <option value="1">Moderator</option>
            </select>
            <div *ngIf="registerForm.get('role')?.hasError('required') &&
              IsSubmitButtonClicked" class="text-danger">
              Role is required!
            </div>
          </div>


          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="button"
              (click)="onSubmit()"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem">
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
