<!--  <input matInput placeholder="Card Holder Name" formControlName="name" class="form-control my-2" />
    <input matInput placeholder="Card Holder Email" type="email" formControlName="email" class="form-control " />
   <input matInput placeholder="Address" formControlName="address" class="form-control" />
    <div class="row ">
      <div class=" col-6">
        <input matInput placeholder="ZIP Code" formControlName="zipcode" class="form-control" />
      </div>
      <div class=" col-6">
        <input matInput placeholder="city" formControlName="city" class="form-control" />
      </div>
    </div> -->
<form action="" class="container my-5">
  <ng-container
    *ngIf="elementsOptions.clientSecret as clientSecret; else loadingBlock"
  >
    <div *ngIf="!paymentDone">
      <ngx-stripe-payment [clientSecret]="clientSecret"> </ngx-stripe-payment>
      <button (click)="pay()">PAY {{ total }} EGP</button>
    </div>

    <div *ngIf="paymentDone">
      <ng-container *ngIf="paymentSuccess; else transactionFailed">
        <div class="card">
          <div
            style="
              border-radius: 200px;
              height: 200px;
              width: 200px;
              background: #f8faf5;
              margin: 0 auto;
            "
          >
            <i class="fa-solid fa-check text-success"></i>
          </div>
          <h1 class="text-success">Success</h1>
          <p>
            We received your purchase request;<br />
            we'll be in touch shortly!
          </p>
          <button class="btn btn-success" routerLink="/">
            Back to homepage
          </button>
        </div>
      </ng-container>
    </div>
  </ng-container>
</form>

<ng-template #loadingBlock>
  <app-loading></app-loading>
</ng-template>

<ng-template #transactionFailed>
  <div class="card">
    <div
      style="
        border-radius: 200px;
        height: 200px;
        width: 200px;
        background: #efbcbc;
        margin: 0 auto;
      "
    >
      <i class="fa-solid fa-xmark text-danger"></i>
    </div>
    <h1 class="text-danger">Failed</h1>
    <p>Sorry, Your card has been declined!</p>
    <button class="btn btn-success" routerLink="/">Back to homepage</button>
  </div>
</ng-template>
