<li class="nav-item dropdown no-arrow mx-1">
  <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-envelope fa-fw"></i>

    <span class="badge badge-danger badge-counter">7</span>
  </a>

  <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
       aria-labelledby="messagesDropdown"
        style="width: 35rem">
    <h6 class="dropdown-header">
      Message Center
    </h6>
    <a class="dropdown-item d-flex align-items-center" href="#">
      <div class="col-4 dropdown-list-image mr-3">
        <img class="rounded-circle" src="" alt="...">
<!-- online or offline <div class="status-indicator bg-success"></div>-->
      </div>
      <div class="col-8">
        <div class="text-truncate" style="width: 25rem">msg</div>
        <div class="small text-gray-500">username.date</div>
      </div>
    </a>
    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
  </div>
</li>

