/*region stars*/
.star {
  color: #98a2ab;
  cursor: pointer;
  font-size: 1.4rem;
}

.filled {
  color: #ffbf00;
}
/*endregion*/

th{
  position: sticky;
  top: 5.5em;
}

.carousel .star-rating li {
	padding: 0 2px;
}
.carousel .star-rating i {
	font-size: 16px;
	color: #ffdc12;
}
