<div class="container-fluid">
  <div class="row" id="main-row">
    <div class="col-12 pt-4 pb-3 bg-light" id="user-navbar">
      <app-my-account-navbar
        class="d-none d-md-block"
        (componentUpdater)="updateComponent($event)"
      ></app-my-account-navbar>
      <div class="col-2 d-md-none">
        <button
          class="btn btn-warning"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasWithBothOptions"
          aria-controls="offcanvasWithBothOptions"
        >
          <i class="bi bi-list"></i><span> Menus</span>
        </button>
      </div>
    </div>
    <div class="col-12">
      <app-profile *ngIf="selected == 'profile'"></app-profile>
      <app-listed-items *ngIf="selected == 'listed'"></app-listed-items>
      <app-unlisted-items *ngIf="selected == 'unlisted'"></app-unlisted-items>
      <app-rented-items *ngIf="selected == 'rented'"></app-rented-items>
      <app-on-rent-items *ngIf="selected == 'onRent'"></app-on-rent-items>
      <app-rented-items-history
        *ngIf="selected == 'rentedHist'"
      ></app-rented-items-history>
      <app-on-rent-items-history
        *ngIf="selected == 'onRentHist'"
      ></app-on-rent-items-history>
    </div>
  </div>
</div>

<div
  class="offcanvas offcanvas-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
      Select Page
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <app-my-account-navbar
      (componentUpdater)="updateComponent($event)"
    ></app-my-account-navbar>
  </div>
</div>
