<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="btn-group mt-3 d-flex justify-content-center" role="group">
        <button type="button" class="btn btn-primary" routerLink="/admin/rentoperations">Rent Operation</button>
        <button type="button" class="btn btn-success" routerLink="/admin/returntoday">Return Today</button>
        <button type="button" class="btn btn-secondary" routerLink="/admin/pastdue">Past Due</button>
      </div>

      <form class="mt-5" [formGroup]="rentForm" (ngSubmit)="submit()">
        <div *ngIf="invalidSubmit" class="mb-3 alert alert-danger">The client and/or seller were not validated</div>
        <div class="mb-3">
          <label for="client-email" class="form-label">Rentee Email</label>
          <div class="input-group">
            <input #clientElem type="email" class="form-control" placeholder="Rentee Email" (input)="clientChanged()" id="client-email" formControlName="clientEmail">
            <button class="btn btn-outline-secondary" type="button" (click)="validateClient(clientElem.value)">Validate</button>
          </div>

          <div *ngIf="submittedClient && invalidClient" class="my-2 alert alert-danger">User doesn't exist</div>
          <div *ngIf="submittedClient && !invalidClient" class="my-2 alert alert-success">
            <p>Name: {{client?.name}}</p>
            <p>SSN: {{client?.ssn}}</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="seller-email" class="form-label">Renter Email</label>
          <div class="input-group">
            <input #sellerElem type="email" class="form-control" placeholder="Renter Email" (input)="sellerChanged()" id="seller-email" formControlName="sellerEmail">
            <button class="btn btn-outline-secondary" type="button" (click)="validateSeller(sellerElem.value)">Validate</button>
          </div>
          <div *ngIf="submittedSeller && invalidSeller" class="my-2 alert alert-danger">User doesn't exist</div>
          <div *ngIf="submittedSeller && !invalidSeller" class="my-2 alert alert-success">
            <p>Name: {{seller?.name}}</p>
            <p>SSN: {{seller?.ssn}}</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="seller-items" class="form-label">Item</label>
          <select class="form-select" id="seller-items" formControlName="selectedItem">
            <option *ngFor="let item of sellerItems" [value]="item.id">{{item.name}}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="return-date" class="form-label">Return Date</label>
          <input type="date" class="form-control" id="return-date" formControlName="returnDate">
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>
    </div>
  </div>
</div>
