

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="btn-group mt-5 d-flex justify-content-center" role="group">
        <button type="button" class="btn btn-primary" routerLink="/admin/rentoperations">Rent Operation</button>
        <button type="button" class="btn btn-success" routerLink="/admin/returntoday">Return Today</button>
        <button type="button" class="btn btn-secondary" routerLink="/admin/pastdue">Past Due</button>
      </div>

      <h2 class="text-center mb-4 mt-5">Rent Operations</h2>
      <form [formGroup]="rentForm" (ngSubmit)="submit()">
        <div class="mb-3">
          <label for="client-email" class="form-label">Client Email</label>
          <input type="email" class="form-control" id="client-email" formControlName="clientEmail">
        </div>
        <div class="mb-3">
          <label for="seller-email" class="form-label">Seller Email</label>
          <div class="input-group">
            <input type="email" class="form-control" id="seller-email" formControlName="sellerEmail">
            <button class="btn btn-outline-secondary" type="button" (click)="getSellerItems()">Get</button>
          </div>
        </div>
        <div class="mb-3">
          <label for="seller-items" class="form-label">Seller Items</label>
          <select class="form-select" id="seller-items" formControlName="selectedItem">
            <option *ngFor="let item of sellerItems" [value]="item">{{item}}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="return-date" class="form-label">Return Date</label>
          <input type="date" class="form-control" id="return-date" formControlName="returnDate">
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>
    </div>
  </div>
</div>
